.App {
  text-align: center;
}

.App-body {
  font-size: 20px;
  padding-top: 100px;
}

.App-border {
  background-color: #E24845;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 100%;
}

.App-footer {
  background-color: #D8F3F8;
  bottom: 0px;
  height: 50px;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.App-header {
  background-color: #6FB7C4; 
  color: white;
  height: 160px;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.Credits {
  color: black;
  font-size: 10px;
}

input {
  outline: none;
}

input[type=text] {
  border-radius: 15px;
  font-family: LatoThinItalic;
  height: 15px;
  text-align: center;
  width: 60%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type=submit] {
  background-color: #6FB7C4;
  border-radius: 15px;
  color: white;
  font-family: LatoRegular;

}

input[type=submit]:hover {
    background-color: #D8F3F8;
    color: black;

}

.Title {
  font-family: Lato;
  font-size: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@font-face {
  font-family: Lato;
  src: url("Lato-Black.ttf");
}

@font-face {
  font-family: LatoThinItalic;
  src: url("Lato-ThinItalic.ttf");
}

@font-face {
  font-family: LatoRegular;
  src: url("Lato-Regular.ttf");
}